<div class="add-place-container">
  <button id="add-place-button">+</button>
</div>

<div id="modal-backdrop" class="hidden"></div>
<div id="add-place-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Add a New Location</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="place-input-element">
        <label for="place-title-input">Title</label>
        <input type="text" id="place-title-input">
      </div>
      <div class="place-input-element">
        <label for="place-lat-input">Latitude</label>
        <input type="text" id="place-lat-input">
      </div>
	  <div class="place-input-element">
        <label for="place-long-input">Longitude</label>
        <input type="text" id="place-long-input">
      </div>
	  <div class="place-input-element">
        <label for="place-desc-input">Desription</label>
        <textarea id="place-desc-input"></textarea>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Add Location</button>
    </div>

  </div>
</div>
