<div id="change-home-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Change your Home Location</h3>
      <button type="button" class="home-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="place-input-element">
        <label for="home-lat-input">Latitude</label>
        <input type="text" id="home-lat-input">
      </div>
	  <div class="place-input-element">
        <label for="home-long-input">Longitude</label>
        <input type="text" id="home-long-input">
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="home-cancel-button">Cancel</button>
      <button type="button" class="home-accept-button">Add Location</button>
    </div>

  </div>
</div>
